{% extends 'dashboard/dash_base.html' %}

{% load static %}

{% block feature_css %}

<link rel="stylesheet" href="{% static 'hmis_dash/css/index.css' %}">

<style>
  .panel {
    background-color: #D9D1C7;
  }

  .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .bar {
    fill: steelblue;
  }

</style>

{% endblock %}

{% block feature %}

<div class="row">
  <div class="col-12 h-75">
    <div class="heading text-center" id="barTitle"> India-Statewise </div>
  </div>
</div>

<div class="row bg-dark">
    <div class="col-xs-8 col-sm-8 col-md-6 bg-dark">

      <select class="custom-select mt-1 p-2" id="category1" style="width: auto">
        <option value="per_chld_disease_pneumonia">Childhood Diseases-Pneumonia</option>
        <option value="per_chld_disease_sepsis">Childhood Diseases-Sepsis</option>
        <option value="per_chld_disease_tb">Childhood Diseases-Tuberculosis(TB)</option>
        <option value="per_chld_disease_malaria">Childhood Diseases-Malaria</option>
        <option value="per_chld_disease_diarrhoea">Childhood Diseases-Diarrhoea</option>
        <option value="per_chld_disease_diarrhoea_trtd_inpatnt">Childhood Diseases-Diarrhoea treated in Inpatients</option>
        <option value="per_chld_admtd_upper_resp_infec">Children admitted with upper respiratory infections</option>
        <option value="per_chld_disease_sam">Childhood Diseases-Severe Acute Malnutrition(SAM)</option>
      </select>

      <div class="row m-1">
        <div class="flex-auto m-1">
          <ul class="flex-wrap nav nav-tabs d-flex" id="myTab" role="tablist">
              <li class="flex-wrap nav-item">
              <button class="flex-wrap rounded nav-link active" id="monthlyData" data-toggle="tab" role="tab"
                  aria-controls="Monthly" aria-selected="true" data-value="N">Monthly</button>
              </li>
              <li class="flex-wrap nav-item">
              <button class="flex-wrap rounded nav-link" id="cumulativeData" data-toggle="tab" role="tab"
                  aria-controls="Cumulative" aria-selected="false" data-value="A">Cumulative</button>
              </li>
          </ul>
        </div>   
      </div>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-6 bg-dark">
      <select class="custom-select mt-1 p-2" id="category2" style="width: auto">
        <option value="per_chld_disease_pneumonia">Childhood Diseases-Pneumonia</option>
        <option value="per_chld_disease_sepsis">Childhood Diseases-Sepsis</option>
        <option value="per_chld_disease_tb">Childhood Diseases-Tuberculosis(TB)</option>
        <option value="per_chld_disease_malaria">Childhood Diseases-Malaria</option>
        <option value="per_chld_disease_diarrhoea">Childhood Diseases-Diarrhoea</option>
        <option value="per_chld_disease_diarrhoea_trtd_inpatnt">Childhood Diseases-Diarrhoea treated in Inpatients</option>
        <option value="per_chld_admtd_upper_resp_infec">Children admitted with upper respiratory infections</option>
        <option value="per_chld_disease_sam">Childhood Diseases-Severe Acute Malnutrition(SAM)</option>
      </select>
    </div>
  
</div>

<div class="row text-center m-3" id="monthlySlider">
  <div class="col-12">
    <input type="text" id="monthSlider" name="somename" data-provide="slider"
      data-slider-ticks="[0, 1, 2, 3, 4, 5,6,7,8,9,10,11,12]"
      data-slider-ticks-labels='["All", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec",  "Jan", "Feb", "Mar"]'
      data-slider-min="0" data-slider-max="12" data-slider-step="1" data-slider-value="0" data-slider-tooltip="hide">
  </div>
</div>

<div class="row text-center m-3" id="quarterlySlider" style="display: none;">
  <div class="col-12 mb-3">
    <input type="text" id="quarterSlider" name="name" data-provide="slider"
      data-slider-ticks="[0, 1, 2, 3, 4, 5,6,7,8,9,10,11]"
      data-slider-ticks-labels='["April", "Upto May", "Upto Jun", "Upto Jul", "Upto Aug", "Upto Sep", "Upto Oct", "Upto Nov", "Upto Dec", "Upto Jan", "Upto Feb", "Upto Mar"]'
      data-slider-min="0" data-slider-max="11" data-slider-step="1" data-slider-value="0" data-slider-tooltip="hide">
  </div>
</div>
<!-- <div class="scroll-down">
  Please click "<b>Compare</b>" button if you want to see Indicators Comparison
</div>
<div id='sw' class="spinner-wrapper">
  <div class="spinner"></div>
-->

<div class="row m-3">
  <div class="col-12" id='myDiv'>
    <!-- Plotly chart will be drawn inside this DIV -->
  </div>
</div>

{% endblock %}

{% block feature_js %}
<script src='https://cdn.plot.ly/plotly-2.9.0.min.js'></script>

<script>
  let selCat1 = "per_chld_disease_pneumonia",
    selCat2 = "per_chld_disease_sepsis",
    quarterly = false;

  dataFromDjango = {{ data | safe }};
  // console.log(dataFromDjango, "dataFromDjango")
  let data;
  // data = dataFromDjango;
  let $endpoint = window.location.href // or localhost/interface



  dataFromDjango.forEach(d => {
    d.cat1 = +d.cat1;
    d.cat2 = +d.cat2;
    d.area_id = +d.area_id;
    d.area_name = d.area_name;
    d.month = d.month;
    d.financial_year = d.financial_year;
  });

  function filterCSV(csv, key, value) {
    var result = [];
    csv.forEach(function (val, idx, arr) {

      if (val[key] == value) {

        result.push(val)
      }
    })
    return result;
  }

  const render = (fdata) => {
    // console.log(fdata, "data in render function")
    
    // console.log(selCat1, selCat2, "selCat1 and 2")

    var xValue = [];
    var yValue = [];
    var yValue2 = [];

    for (var i = 0; i < fdata.length; i++) {
      let areaName = fdata[i].area_name;
      let y1, y2;
      y1 = fdata[i].cat1;
      
      y2 = fdata[i].cat2;
      
      xValue.push(areaName);
      yValue.push(y1);
      yValue2.push(y2);
    }

    var trace1 = {
      x: xValue,
      y: yValue,
      name: setLegend(selCat1),
      type: 'bar',
      // text: yValue.map(String),
      textposition: 'none',
      hovertemplate: '<b>%{x}</b><br>' + '<b>%{y}</b>',
      // opacity: 0.5,
      marker: {
        color: '#5bc0de',
        line: {
          color: '#74AEF6',
          width: 1.5
        }
      },
      textfont: {
        family: "sans-serif",
        color: 'black',
        size: 20
      }
    };

    var trace2 = {
      x: xValue,
      y: yValue2,
      name: setLegend(selCat2),
      type: 'bar',
      // text: yValue2.map(String),
      textposition: 'none',
      hovertemplate: '<b>%{x}</b><br>' + '<b>%{y}</b>',
      marker: {
        color: '#00439D',
        line: {
          color: 'rgb(8,48,107)',
          width: 1.5
        }
      },
      textfont: {
        family: "sans-serif",
        color: 'black',
        // size: 20
      }
    };

    var data = [trace1, trace2];

    var layout = {
      // title: 'January 2013 Sales Report',
      showlegend: true,
      legend: {
        x: 0,
        y: 1.3,
        "orientation": "h",
        font: {
          family: 'sans-serif',
          size: 20,
          color: '#000'
        }
      },
      xaxis: {
        linewidth: 2,
        ticks: 'outside',
        tickcolor: '#000',
        tickfont: {
          family: "sans-serif",
          color: 'black',
          size: 14
        }
      },
      yaxis: {
        linewidth: 2,
        ticks: 'outside',
        tickcolor: '#000',
        font: {
          family: "sans-serif",
          color: 'black',
          size: 20
        }
      },
      hoverlabel: {
        bgcolor: 'black',
        font: { color: 'white' }
      },
      margin: {
        // t: 200,
        b: 120,
        // l: 80,
        // r:50,
        pad: 0
      },
    };
    var config = { responsive: true };

    Plotly.newPlot('myDiv', data, layout, { displayModeBar: false }, config);
  };

  let tickLabels = ["All", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec", "Jan", "Feb", "Mar"]

  let qtickLabels = ["April", "Upto May", "Upto Jun", "Upto Jul", "Upto Aug", "Upto Sep", "Upto Oct", "Upto Nov", "Upto Dec", "Upto Jan", "Upto Feb", "Upto Mar"]

  //On month change
  $('#monthSlider').slider().on('slideStop', function (ev) {
    var val = tickLabels[ev.value];
    console.log(val, 'month')
    $.ajax({
      method: "GET",
      url: $endpoint,
      data: {
        'cat1': selCat1,
        'cat2': selCat2,
        'month': val
      },
      success: handleFormSuccess,
      error: handleFormError,
    })
  });

  $('#quarterSlider').slider().on('slideStop', function (ev) {
    let val = qtickLabels[ev.value];
    console.log(val, 'month in quarter')
    $.ajax({
      method: "GET",
      url: $endpoint,
      data: {
        'cat1': selCat1,
        'cat2': selCat2,
        'month': val
      },
      success: handleFormSuccess,
      error: handleFormError,
    })
  });

  //Initial Rendering
  render(dataFromDjango);


  let choices = parseURLParameters(window.location.href);
  if (choices.length > 0) {
    if(choices[0] == selCat2)
      selCat2 = selCat1;

    selCat1 = choices[0];
    $("#category1").val(selCat1);
    $("#category2").val(selCat2);
    displayGraph(selCat1, selCat2); 
  }

  function parseURLParameters() {
    var query = (window.location.search || '?').substr(1);
    var map = [];
    query.replace(/([^&=]+)=?([^&]*)(?:&+|$)/g, function (match, key, value) {
      map.push(value);
    });
    return map;
  };

  function displayGraph(selectedCat1, selectedCat2){
    if(quarterly == true)
      var valMonth = qtickLabels[$('#quarterSlider').slider('getValue')];
    else  
      var valMonth = tickLabels[$('#monthSlider').slider('getValue')];

    $.ajax({
      method: "GET",
      url: $endpoint,
      data: {
        'cat1': selectedCat1,
        'cat2': selectedCat2,
        'month': valMonth
      },
      success: handleFormSuccess,
      error: handleFormError,
    })
  };

  //By Default Category
  $(function () {
    //trigger event
    if (choices.length <= 0){
      $("#category1").val("per_chld_disease_pneumonia");
      $("#category2").val("per_chld_disease_sepsis");
    }
  });
  //On Category Change
  $("#category1").change(function () {
    selCat1 = $(this).val();
    displayGraph(selCat1, selCat2);
  });

  $("#category2").change(function () {
    selCat2 = $(this).val();
    displayGraph(selCat1, selCat2);
  });

  function handleFormSuccess(data) {
    data = data.data;
    render(data);
  }

  function handleFormError(jqXHR, textStatus, errorThrown) {
    console.log(jqXHR)
    console.log(textStatus)
    console.log(errorThrown)
  }

  //Standardize Legend Name
  function setLegend(val) {
    if (val == 'per_chld_disease_pneumonia')
      return 'Childhood Diseases-Pneumonia(%)';
    else if (val == 'per_chld_disease_sepsis')
      return 'Childhood Diseases-Sepsis(%)';
    else if (val == 'per_chld_disease_tb')
      return 'Childhood Diseases-Tuberculosis(TB)(%)';
    else if (val == 'per_chld_disease_malaria')
      return 'Childhood Diseases-Malaria(%)';
    else if (val == 'per_chld_disease_diarrhoea')
      return 'Childhood Diseases-Diarrhoea(%)';
    else if (val == 'per_chld_disease_diarrhoea_trtd_inpatnt')
      return 'Childhood Diseases-Diarrhoea treated in Inpatients(%)';
    else if (val == 'per_chld_admtd_upper_resp_infec')
      return 'Children admitted with upper respiratory infections(%)';
    else
      return 'Childhood Diseases-Severe Acute Malnutrition(SAM)';
  }

  //Toggling Between Monthly and Cumulative
  $(document).ready(function () {
    $('#cumulativeData').click(function() {
        quarterly = true;
        $("div.slider-tick-label-container").css("margin-left", "-4.138rem");
        $("div.slider-tick-label").css("width", "8.25rem");

        $("#quarterlySlider").show();
        $("#monthlySlider").hide();

        displayGraph(selCat1, selCat2);
    });

    $('#monthlyData').click(function() {
        quarterly = false;
        $("div.slider-tick-label-container").css("margin-left", "-3.792rem");
        $("div.slider-tick-label").css("width", "7.583rem");
        
        $("#quarterlySlider").hide();
        $("#monthlySlider").show();

        displayGraph(selCat1, selCat2);
    });
  });
</script>

{% endblock %}